<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
		

		
			<rules>
			

		
			                <rule name="Imported Rule Brain2">
                    <match url="api/getclientdata" ignoreCase="false" />
                    <action type="Rewrite" url="/templates/habblum/getclientdata.php" appendQueryString="false" />
				</rule>
                <rule name="Imported Rule Brain">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false" />
				</rule>
				
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=news&amp;id={R:1}" appendQueryString="false" />
				</rule>
				                <rule name="Imported Rule rare" stopProcessing="true">
                    <match url="raredetails/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=raredetails&amp;id={R:1}" appendQueryString="false" />
				</rule>
				
								
								                <rule name="Imported Rule rarep1" stopProcessing="true">
                    <match url="rarespreview/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=rarespreview&amp;id={R:1}" appendQueryString="false" />
				</rule>
				
								                <rule name="Imported Rule rarep" stopProcessing="true">
                    <match url="rarespreview/([^/]+)/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=rarespreview&amp;id={R:1}&amp;categoria={R:2}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule home" stopProcessing="true">
                    <match url="home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=home&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK show cata" stopProcessing="true">
                    <match url="adminpan/catalog/view/([0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=catalog&amp;view_id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="HBG-Xdr">
					<match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" />
				</rule>
                <rule name="getclientconfig">
                    <match url="api/getclientconfig" ignoreCase="false" />
                    <action type="Rewrite" url="/templates/habblum/getclientconfig.php" appendQueryString="false" />
                </rule>
				<rule name="getclient">
                    <match url="api/getclient" ignoreCase="false" />
                    <action type="Rewrite" url="/templates/habblum/getclientconfigtest.php" appendQueryString="false" />
                </rule>
                <rule name="getssoticketweb">
                    <match url="api/getssoticketweb" ignoreCase="false" />
                    <action type="Rewrite" url="/templates/habblum/getssoticketweb.php" appendQueryString="false" />
                </rule>
				<rule name="audio1">
                    <match url="audios/audio" ignoreCase="false" />
                    <action type="Rewrite" url="/audios/audio.php" appendQueryString="false" />
                </rule>
				


		
			</rules>
        </rewrite>
	
		
				    <staticContent>
            <remove fileExtension=".mp3" />
         
     
	  <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <mimeMap fileExtension=".nitro" mimeType="application/octet-stream" />
    </staticContent>
	

 <httpProtocol>
  <customHeaders>
    <add name="Access-Control-Allow-Origin" value="*" />
    <add name="Access-Control-Allow-Headers" value="Content-Type" />
   
  </customHeaders>
 </httpProtocol>

	
    </system.webServer>
</configuration>
